@import "tailwindcss";
@plugin "daisyui" {
   themes: black --default;
 }


@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica-bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

